<%= simple_form_for [@cocktail, @dose] do |f| %>
  <% if @dose.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @dose.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :description %>
  <%= f.association :ingredient, collection: Ingredient.all, class: 'select2' %>
  <%= f.submit "Add a dose", class: "btn btn-primary" %>
<% end %>
